[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/WeAreLeka/Arduino-Makefile.git
[submodule "lib/RF24"]
	path = lib/RF24
	url = https://github.com/TMRh20/RF24
[submodule "googlemock"]
	path = googlemock
	url = https://github.com/martinhansdk/googlemock
