script(src="http://code.jquery.com/jquery-1.6.1.min.js")
script(src="/socket.io/socket.io.js")
script(type='text/javascript')
  var offset = 0;
  var value = 0;

  function toFixed(value, precision) {
    var power = Math.pow(10, precision || 0);
    return String(Math.round(value * power) / power);
  }

  function updateCounterDisplay(newValue) {
    value = newValue;
    var displayValue = newValue - offset;
    $('#counter').text(toFixed(displayValue, 3));
  }

  var socket = io.connect('http://#{hostname}');
  socket.on('counter', updateCounterDisplay);

  $(document).ready(function() {
    $('#reset').click( function() {
      offset = value;
      updateCounterDisplay(value);
    });
  });

h1 Water meter
#meter Current value:
  .counterbox
    span#counter
    |  L
button#reset Reset